/* begin additional-goods */

.additional-goods {
  padding: 0 0 35px 0;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: $tablet) {
  .additional-goods {
    padding: 0 0 78px 0;
  }
}

@media (min-width: $desktop) {
  .additional-goods {
    padding: 0 0 85px 0;
  }
}

.additional-goods__title {
  position: relative;
  margin: 27px 0 0 0;
  padding: 0 0 27px 0;

  & span {
    display: inline;
    height: 26px;
    padding: 0 21px 0 19px;
    margin: 0 0 0 -20px;
    font-family: $font-main-regular;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    background: $white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: -1;
    background: $color-main;
  }
}

@media (min-width: $tablet) {
  .additional-goods__title {
    padding: 38px 0 75px 0;

    &::after {
      content: "";
      top: 60px;
    }

    & span {
      height: 36px;
      margin: 0;
      padding: 0 34px 0 39px;
      font-size: 36px;
      line-height: 36px;
    }
  }
}

@media (min-width: $desktop) {
  .additional-goods__title {
    & span {
      margin: 0 0 0 -38px;
    }
  }
}

.additional-goods__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0 79px;
}

@media (min-width: $desktop) {
  .additional-goods__grid {
    grid-template-columns: 73.5% 1fr;
  }
}

.additional-goods__list-grid {
  height: 100%;
  box-sizing: border-box;
  list-style: none;
  margin: 0 0 39px 0;
  padding: 0;
}

@media (min-width: $tablet) {
  .additional-goods__list-grid {
    margin: 0 0 69px 0;
  }
}

@media (min-width: $desktop) {
  .additional-goods__list-grid {
    margin: 0;
  }
}

.additional-goods__list-col {
  border-top: 1px solid $color-achromatic-4;

  &:last-child {
    border-bottom: 1px solid $color-achromatic-4;
  }
}

@media (min-width: $tablet) {
  .additional-goods__list-col {
    padding: 13px 38px 9px 38px;
    border-left: 1px solid $color-achromatic-4;
    border-right: 1px solid $color-achromatic-4;
  }
}

@media (min-width: $desktop) {
  .additional-goods__list-col {
    padding: 0;
    border-left: none;
    border-right: none;
  }
}

.additional-goods__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 6px 0 12px 0;
}

@media (min-width: $tablet) {
  .additional-goods__list {
    grid-template-columns: 1fr 1fr 94px;
  }
}

@media (min-width: $desktop) {
  .additional-goods__list {
    grid-template-columns: 1fr 202px 44px 244px;
    grid-gap: 41px;
    padding: 0;
  }
}

.additional-goods__item {
  padding: 7px 0 7px 0;
  font-family: $font-extra-regular;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;

  &--title {
    font-family: $font-main-regular;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
  }

  &--color {
    color: $color-achromatic-2;
  }

  &--1 {
    grid-column: 1/4;
  }

  &--2 {
    grid-column: 1/2;
  }

  &--3 {
    grid-column: 3/4;
  }

  &--4 {
    grid-column: 1/4;
  }
}

@media (min-width: $tablet) {
  .additional-goods__item {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &--title {
      text-align: left;
      font-size: 20px;
      line-height: 20px;
    }

    &--1 {
      grid-column: 1/2;
    }

    &--2 {
      grid-column: 2/3;
    }

    &--3 {
      grid-column: 3/4;
    }

    &--4 {
      grid-column: 1/4;
    }
  }
}

@media (min-width: $desktop) {
  .additional-goods__item {
    padding: 17px 0 16px 0;
    text-align: left;

    &--1 {
      grid-column: 1/2;
    }

    &--2 {
      grid-column: 2/3;
    }

    &--3 {
      grid-column: 3/4;
    }

    &--4 {
      grid-column: 4/5;
    }

    &--color {
      text-align: left;
    }
  }
}

.additional-goods__button {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 0;
  background: $color-main;
  font-family: $font-main-regular;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  transition: all 600ms;

  &:hover {
    background: $color-main-2;
  }

  &:active {
    color: rgba($color: $white, $alpha: 0.3);
    background: $color-main-2;
  }
}

@media (min-width: $tablet) {
  .additional-goods__button {
    margin: 12px 0 0 0;
  }
}

@media (min-width: $desktop) {
  .additional-goods__button {
    margin: 0;
  }
}

/* end additional-goods */
