/* begin cart */

.cart {
  padding: 30px 20px 18px 20px;
  background: $color-achromatic-6;
  font-style: normal;
  font-weight: 400;

  &--image-1 {
    background: url("../img/cat_slim.svg") no-repeat top 20px left 22px, url("../img/ellipse_green.svg") no-repeat top 23px left 22px, $color-achromatic-6;
    background-size: 50px 53px;
  }

  &--image-2 {
    background: url("../img/cat_pro.svg") no-repeat top 24px left 13px, url("../img/ellipse_green.svg") no-repeat top 25px left 14px, $color-achromatic-6;
    background-size: 67px 50px;
  }
}

@media (min-width: $tablet) {
  .cart {
    padding: 77px 53px 58px 53px;

    &--image-1 {
      background: url("../img/cat_slim.svg") no-repeat top 82px right 91px/140px 192px, url("../img/ellipse_green.svg") no-repeat top 92px right 62px/200px 200px, $color-achromatic-6;
    }

    &--image-2 {
      background: url("../img/cat_pro.svg") no-repeat top 134px right 28px/268px 112px, url("../img/ellipse_green.svg") no-repeat top 91px right 61px/200px 200px, $color-achromatic-6;
    }
  }
}

@media (min-width: $desktop) {
  .cart {
    padding: 77px 52px 62px 52px;
    background: $color-achromatic-6;
    font-style: normal;
    font-weight: 400;

    &--image-1 {
      background: url("../img/cat_slim.svg") no-repeat top 37px left 52px, url("../img/ellipse_green.svg") no-repeat top 44px left 52px, $color-achromatic-6;
      background-size: 100px 106px;
    }

    &--image-2 {
      background: url("../img/cat_pro.svg") no-repeat top 47px left 33px, url("../img/ellipse_green.svg") no-repeat top 47px left 33px, $color-achromatic-6;
      background-size: 134px 100px;
    }
  }
}

.cart__title {
  margin: 0 0 30px 71px;
  font-family: $font-main-regular;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: $black;
}

@media (min-width: $tablet) {
  .cart__title {
    margin: 0 0 26px 0;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop) {
  .cart__title {
    margin: 0 0 73px 162px;
  }
}

.cart__paragrafe {
  margin: 0;
  padding: 0 0 23px 0;
  font-family: $font-extra-regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  border-bottom: 1px solid $color-achromatic-extra-1;
  color: $color-achromatic-2;
}

@media (min-width: $tablet) {
  .cart__paragrafe {
    max-width: 377px;
    padding: 0 0 51px 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;

    &--castom-width {
      width: 381px;
    }

    &--castom-width-2 {
      width: 340px;
    }
  }
}

@media (min-width: $desktop) {
  .cart__paragrafe {
    max-width: 100%;
    padding: 0 0 26px 0;

    &--castom-width {
      width: 100%;
    }

    &--castom-width-2 {
      width: 450px;
    }
  }
}

.cart__link {
  display: inline-block;
  margin: 17px 0 0 0;
  font-family: $font-main-regular;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  &::after {
    content: url("../img/arrow_right.svg");
    display: inline-block;
    margin: 0 0 0 15px;
    width: 32px;
    height: 11px;
    transition: all 600ms;
  }

  &:hover::after {
    content: url("../img/arrow_right_big.svg");
    transition: all 600ms;
  }

  &:active::after {
    content: url("../img/arrow_right_big.svg");
    opacity: 0.3;
    transition: all 600ms;
  }
}

@media (min-width: $tablet) {
  .cart__link {
    margin: 0;
    max-width: 377px;
    padding: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border-bottom: none;

    &::after {
      margin: 0 0 0 25px;
    }
  }
}

/* end cart */
