.cart-catalog {
  height: 100%;
  padding: 19px 0 25px 0;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 280px;
}

@media (min-width: $tablet) {
  .cart-catalog {
    max-width: inherit;
    padding: 19px 36px 40px 36px;
    background-color: $color-achromatic-6;

    &--more {
      background: $white;
      border: 1px solid $color-achromatic-6;
    }
  }
}

.cart-catalog__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: $tablet) {
  .cart-catalog__grid {
    display: flex;
    flex-direction: column;
    grid-gap: 12px 0;
  }
}

.cart-catalog__title {
  max-width: 76px;
  margin: 0 0 14px 0;
  font-family: $font-main-regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: $color-achromatic-1;

  &--position {
    max-width: 100%;
    text-align: center;
    margin: 0 0 6px 0;
  }
}

@media (min-width: $tablet) {
  .cart-catalog__title {
    max-width: 155px;
    margin: 20px auto 15px auto;
    text-align: center;
    font-size: 20px;
    line-height: 24px;

    &--position {
      margin: 48px auto 22px auto;
    }
  }
}

@media (min-width: $desktop) {
  .cart-catalog__title {
    max-width: 145px;
    margin: 28px auto 15px auto;

    &--position {
      margin: 28px auto 25px auto;
    }
  }
}

.cart-catalog__paragrafe {
  display: inline-block;
  width: 100%;
  font-family: $font-extra-regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  color: $color-achromatic-2;

  &--position {
    margin: 0 0 21px 0;
    text-align: center;
  }
}

@media (min-width: $tablet) {
  .cart-catalog__paragrafe {
    &--position {
      display: block;
      width: 90%;
      margin: 0 auto 86px auto;
      font-family: $font-extra-regular;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0;
      text-align: center;
    }
  }
}

@media (min-width: $desktop) {
  .cart-catalog__paragrafe {
    &--position {
      width: 100%;
      margin: 0 auto 86px auto;
    }
  }
}

.cart-catalog__image {
  &--more {
    width: 30px;
    height: 30px;
    display: block;
    margin: 6px auto 23px auto;
  }
}

@media (min-width: $tablet) {
  .cart-catalog__image {
    height: 200px;
    display: block;
    margin: -90px auto 0 auto;

    &--more {
      margin: 35px auto 0 auto;
      width: 60px;
      height: 60px;
    }
  }
}

@media (min-width: $desktop) {
  .cart-catalog__image {
    margin: -98px auto 0 auto;

    &--more {
      margin: 50px auto 10px auto;
      width: 60px;
      height: 60px;
    }
  }
}

.cart-catalog__table {
  width: 100%;
  margin: 0 0 21px 0;
  border-spacing: 0;
}

@media (min-width: $tablet) {
  .cart-catalog__line {
    padding: 1px;
  }
}

.cart-catalog__cell {
  font-family: $font-extra-regular;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  color: $color-achromatic-2;

  &:last-child {
    text-align: right;
  }
}

@media (min-width: $tablet) {
  .cart-catalog__cell {
    padding: 9px 0 7px 0;
    font-size: 16px;
    border-bottom: 1px solid $color-achromatic-4;
  }
}

.cart-catalog__link {
  grid-column-start: 1;
  grid-column-end: 4;
  display: inline-block;
  width: 100%;
  padding: 11px 0 11px 0;
  background: $color-main;
  font-family: $font-main-regular;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  &--more {
    background: $color-achromatic-6;
    color: $color-achromatic-2;
  }
}
