.catalogs {
  padding: 0 20px 27px 20px;
}

@media (min-width: $tablet) {
  .catalogs {
    padding: 0 30px 71px 30px;
  }
}

@media (min-width: $desktop) {
  .catalogs {
    padding: 0 110px 71px 110px;
  }
}

.catalogs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop) {
  .catalogs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
}

.catalogs__item {
  margin: 0 0 20px 0;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $desktop) {
  .catalogs__item {
    margin: 0;
  }
}
