.footer {
  padding: 39px 0 22px 0;
  background: $color-achromatic-6;
}

@media (min-width: $tablet) {
  .footer {
    padding: 56px 0 57px 0;
  }
}

@media (min-width: $desktop) {
  .footer {
    padding: 54px 0 57px 0;
  }
}

.footer__grid-main {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: $tablet) {
  .footer__grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.footer__logo-text {
  display: block;
  margin: 0 auto 30px auto;
}

@media (min-width: $tablet) {
  .footer__logo-text {
    display: block;
    margin: 0;
  }
}

.footer__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 20px 58px 16px 55px;
  border-top: 1px solid $color-achromatic-extra-1;
  border-bottom: 1px solid $color-achromatic-extra-1;
  list-style: none;
}

@media (min-width: $tablet) {
  .footer__list {
    max-width: inherit;
    padding: 0 50px;
    border-top: none;
    border-bottom: none;
  }
}

@media (min-width: $desktop) {
  .footer__list {
    max-width: inherit;
    padding: 0 120px;
    border-top: none;
    border-bottom: none;
  }
}

@media (min-width: $tablet) {
  .footer__item {
    margin: 0 15px;
  }
}

.footer__grid-logo {
  margin: 23px 0 0 0;
  display: flex;
}

@media (min-width: $tablet) {
  .footer__grid-logo {
    justify-content: flex-end;
    margin: 0;
  }
}

.footer__copyright {
  display: inline-block;
  margin: auto auto auto 0;
  font-family: $font-extra-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: right;
}

@media (min-width: $tablet) {
  .footer__copyright {
    margin: auto 23px auto 0;
  }
}

.footer__logo {
  float: right;
}
