.form {
  padding: 27px 0 0 0;
}

.form__title {
  margin: 0;
  padding: 0 19px 27px 19px;
  font-family: $font-main-regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
