/* begin header */

.header {
  width: auto;
  padding: 12px 0 0 0;
  background: none;
}

@media (min-width: $tablet) {
  .header {
    max-width: 708px;
    margin: 0 auto;
    padding: 24px 0 0 0;
  }
}

@media (min-width: $desktop) {
  .header {
    max-width: 1220px;
    margin: 0 auto;
    padding: 55px 0 0 0;
  }
}

.header__grid-main {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .header__grid-main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: $desktop) {
  .header__grid-main {
    display: flex;
  }
}

.header__col-main {
  padding: 0 20px 0 20px;
}

@media (min-width: $tablet) {
  .header__col-main {
    padding: 0;
  }
}

.header__grid-logotype {
  display: grid;
  grid-template-columns: 1fr 102px 1fr;
  align-items: center;
}

@media (min-width: $tablet) {
  .header__grid-logotype {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
}

.header__link {
  display: flex;
  align-items: center;
}

/* end header */
