.label-main {
  padding: 0 19px 27px 19px;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: $tablet) {
  .label-main {
    padding: 0 0 27px 0;
  }
}

@media (min-width: $desktop) {
  .label-main {
    margin: 0;
    padding: 0 0 69px 0;
  }
}

@media (min-width: $tablet) {
  .label-main__container {
    margin: 0 0 38px 0;
  }
}

@media (min-width: $desktop) {
  .label-main__container {
    margin: 0;
  }
}

.label-main__item {
  margin: 0 0 13px 0;
  list-style: none;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet) {
  .label-main__item {
    margin: 0 0 20px 0;
    list-style: none;

    &:last-child {
      margin: 0;
    }
  }
}

.label-main__caption {
  width: 100%;
  display: flex;
  font-family: $font-main-regular;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;

  & span {
    padding: 0 13px 0 0;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet) {
  .label-main__caption {
    font-size: 20px;
    line-height: 30px;
  }
}

.label-main__input {
  width: 100%;
  padding: 13px 15px 13px 15px;
  border: 1px solid $color-achromatic-extra-2;
  box-sizing: border-box;

  &::placeholder {
    padding: 13px 12px 23px 15px;
    font-family: $font-main-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: $color-achromatic-2;
  }
}
