.map {
  position: relative;
}

.map__grid-main {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop) {
  .map__grid-main {
    margin-top: 97px;
  }
}

.map__background {
  height: 362px;
  order: 2;
}

@media (min-width: $tablet) {
  .map__background {
    height: 400px;
  }
}

.map__info {
  order: 1;
  padding: 28px 0 26px 0;
  background-color: $white;

  &--extra {
    background-color: $color-achromatic-6;
  }
}

@media (min-width: $tablet) {
  .map__info {
    padding: 0;
  }
}

@media (min-width: $desktop) {
  .map__info {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 0 -294px 0;
    padding: 0;
    background-color: inherit;
  }
}

.map__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 5px;
}

@media (min-width: $tablet) {
  .map__grid {
    grid-template-columns: 1fr 159px;
    grid-gap: 294px;
    margin: 63px 41px 56px 41px;
  }
}

@media (min-width: $desktop) {
  .map__grid {
    width: 404px;
    grid-template-columns: 1fr 154px;
    grid-gap: 0;
    margin: 0;
    padding: 63px 90px 56px 75px;
    background-color: $white;
  }
}

.map__title {
  margin: 0;
  font-family: $font-main-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .map__title {
    width: 171px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop) {
  .map__title {
    line-height: 26px;
  }
}

.map__address {
  margin: 0;
  font-family: $font-extra-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: $color-achromatic-2;
}

@media (min-width: $tablet) {
  .map__address {
    width: 159px;
    text-align: right;
    font-size: 16px;

    & span {
      display: inline-block;
      margin: 20px 0 0 0;
    }
  }
}

@media (min-width: $desktop) {
  .map__address {
    text-align: left;
  }
}
