/* begin nav */

.nav {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet) {
  .nav {
    margin: 0;
    display: block;
  }
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $color-achromatic-extra-3;
}

@media (min-width: $tablet) {
  .nav__list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    border-bottom: none;
  }
}

.nav__item {
  padding: 22px 0 23px 0;
  border-top: 1px solid $color-achromatic-extra-3;
}

@media (min-width: $tablet) {
  .nav__item {
    padding: 17px 0 10px 0;
    margin: 0 0 0 35px;
    border-top: none;

    &--active {
      border-bottom: 2px solid $color-main;
    }

    &--active-extra {
      border-bottom: 2px solid $color-main;
    }

    &:first-child {
      padding: 17px 0 10px 0;
    }
  }
}

@media (min-width: $desktop) {
  .nav__item {
    &--active {
      border-bottom: 2px solid $white;
    }
  }
}

.nav__link {
  display: inline-block;
  width: 100%;
  font-family: $font-main-medium;
  color: $black;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 600ms;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--extra {
    color: $black;
  }
}

@media (min-width: $tablet) {
  .nav__link {
    font-family: $font-main-regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (min-width: $desktop) {
  .nav__link {
    font-size: 20px;
    color: $white;

    &--extra {
      color: $black;
    }
  }
}

/* end nav */
