.principle-operation {
  padding: 0px 0px 42px 0px;
  &__title {
    margin: 0px 0px 38px 0px;
    font-family: $font-main-regular;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: $black;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    min-height: 60px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 80px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.principle-operation__item {
  &--image1 {
    background: url(../img/special_image_1.svg) no-repeat left top;
  }
  &--image2 {
    background: url(../img/special_image_2.svg) no-repeat left top;
  }
  &--image3 {
    background: url(../img/special_image_3.svg) no-repeat left top;
  }
  &--image4 {
    background: url(../img/special_image_4.svg) no-repeat left top;
  }
  &:last-child {
    margin: 0;
  }
}
