.screen-title {
  padding: 25px 0 12px 0;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: $tablet) {
  .screen-title {
    padding: 62px 0 39px 0;
  }
}

@media (min-width: $desktop) {
  .screen-title {
    padding: 67px 0 39px 0;
  }
}

.screen-title__h1 {
  margin: 0 0 37px 0;
  font-family: $font-main-regular;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: left;
}

@media (min-width: $tablet) {
  .screen-title__h1 {
    margin: 0 0 54px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop) {
  .screen-title__h1 {
    margin: 0 0 58px 0;
  }
}

.screen-title__subtitle {
  font-family: $font-main-regular;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .screen-title__subtitle {
    display: inline-block;
    max-width: 323px;
    margin: 0 0 0 40px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop) {
  .screen-title__subtitle {
    margin: 0;
  }
}
