.slider-range {
  font-family: $font-main-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}

.slider-range__text {
  font-family: $font-main-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .slider-range__text {
    font-size: 20px;
    border-bottom: 1px dotted rgba($color: #000000, $alpha: 0.24);
  }
}

.slider-range__image {
  display: block;
  margin: 0 auto 30px auto;
  width: 279px;
  height: 232px;
}

@media (min-width: $tablet) {
  .slider-range__image {
    width: 708px;
    height: 528px;
  }
}

@media (min-width: $desktop) {
  .slider-range__image {
    width: 500px; /* пометка себе, заменить значения, значения временные */
    height: 500px; /* пометка себе, заменить значения, значения временные */
    margin: -224px 0 48px 0; /* пометка себе, заменить значения, значения временные */
  }
}
