.textarea {
  margin: 0 0 27px 0;
  padding: 0 20px 0 20px;
}

@media (min-width: $tablet) {
  .textarea {
    margin: 0 0 65px 0;
    padding: 0 67px 0 70px;
  }
}

@media (min-width: $desktop) {
  .textarea {
    padding: 0 110px 0 110px;
  }
}

.textarea__input {
  width: 100%;
  height: 150px;
  border: 1px solid $color-achromatic-extra-2;

  &::placeholder {
    padding: 13px 12px 23px 15px;
    font-family: $font-main-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: $color-achromatic-2;
  }
}
