$font-main-regular: "Oswaldregular", "Roboto Condensed", "Scada", sans-serif;
$font-main-medium: "Oswaldmedium", "Roboto Condensed", "Scada", sans-serif;
$font-extra-regular: "Arial", "Verdana", sans-serif;

@font-face {
  font-family: "Oswaldregular";
  src: url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswaldmedium";
  src: url("../fonts/oswaldmedium.woff") format("woff");
}
