* {
  border: 1px solid goldenrod;
  padding: 2px;
}

body {
  margin: 0;
}

// Colors

$color-main: #68b738;
$color-main-2: #68b738;
$color-extra: #f2f2f2;
$color-error: #ff8282;

$color-achromatic-1: #222222;
$color-achromatic-2: #444444;
$color-achromatic-3: #666666;
$color-achromatic-4: #cdcdcd;
$color-achromatic-5: #ebebeb;
$color-achromatic-6: #f2f2f2;

$white: #ffffff;
$black: #000000;
