* {
  border: 1px solid goldenrod;
  padding: 2px;
}

body {
  margin: 0;
}

// Colors

$color-main: #68B738;
$color-main-2: #68B738;
$color-extra: #F2F2F2;
$color-error: #FF8282;

$color-achromatic-1: #222222;
$color-achromatic-2: #444444;
$color-achromatic-3: #666666;
$color-achromatic-4: #CDCDCD;
$color-achromatic-5: #EBEBEB;
$color-achromatic-6: #F2F2F2;

$white: #ffffff;
$black: #000000;

